<div class="mat-elevation-z2">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Class Column -->
    <ng-container matColumnDef="class">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Class</th>
      <td mat-cell *matCellDef="let row">{{row.class}}</td>
    </ng-container>

    <!-- Race URL Column -->
    <ng-container matColumnDef="raceUrl">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Race Url</th>
      <td mat-cell *matCellDef="let row">{{row.raceUrl}}</td>
    </ng-container>

    <!-- Race Type Column -->
    <ng-container matColumnDef="raceType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Race Type</th>
      <td mat-cell *matCellDef="let row">{{row.raceType}}</td>
    </ng-container>

    <!-- Age Category Column -->
    <ng-container matColumnDef="ageCategory">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ages</th>
      <td mat-cell *matCellDef="let row">{{row.ageCategory}}</td>
    </ng-container>

    <!-- Going Category Column -->
    <ng-container matColumnDef="goingCategory">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Going</th>
      <td mat-cell *matCellDef="let row">{{row.goingCategory}}</td>
    </ng-container>

    <!-- Distance Category Column -->
    <ng-container matColumnDef="distanceCategory">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Distance Category</th>
      <td mat-cell *matCellDef="let row">{{row.distanceCategory}}</td>
    </ng-container>

    <!-- View Column -->
    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <!-- Pencil Icon with Click Event -->
        <button mat-icon-button (click)="onView(row)">
          <mat-icon>remove_red_eye</mat-icon>
        </button>
      </td>
    </ng-container>   


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
