@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.full-width-table {
    width: 100%;
  }
  
  .data-table{
      width: 80%;
      margin:20px auto;
  }

  .header-container
  {
    margin-top:10px;
    text-align: center;
  }

  mat-icon {
    font-size: 18px !important;
  }

  .submit-button-container{
    margin-top:20px !important;
  }